.navbar {
  height: 5rem;
  width: 100%;
  padding: 1rem;
  background-color: rgb(253, 242, 236);
  border: 1px solid;
  border-color: rgba(118, 117, 117, 0.05);
  border-bottom-width: 2px;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  font-family: Inter;
}
.logo {
  height: 2.77rem;
  width: 11.11rem;
}
.nav-items-container {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 45px;
  width: 37rem !important;
  height: 46px;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: min-content;
  z-index: 1;
}
.nav-items {
  opacity: 1;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 24px;
  width: 24rem !important;
  height: 46px;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: min-content;
  font-weight: 500;
}
.nav-link-items {
    text-decoration: none;
    color: rgb(28, 28, 28);
    line-height: 1.6em;
    text-align: center;
    transition: color 0.2s ease-out;
}
.nav-link-items:hover {
    color: rgb(130, 71, 255);

}
.dot {
  height: 0.25rem;
  width: 0.25rem;
  background-color: #cecece;
}
.template-btn {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #EDEDFA;
    color: rgb(28, 28, 28);
    font-size: 20px;
    font-family: Outfit;
    font-weight: 600;
    border-radius: 12px;
    width: 8.6rem;
    height: 3rem;
    transition: border 0.4s ease-out;
}
.template-btn:hover {
    border: 1px solid rgb(28, 28, 28);
}